* {
	margin: 0px;
	padding: 0px;
}
.head{
	margin: auto;
	width: 1400px;
	height: 160px;
	background: rgba(49, 32, 24, 0);
}
.head h1{
	width:1400px;
	height:100px;
	display:block;
	position:absolute;
	background:rgba(0,0,0,0.8);
	top:0px;
	text-align: center;
	font-family:KaiTi;
	font-size:40px;
	line-height:100px;
	margin: auto;
	color:rgb(238,211,136,1);
}

.biaoti {
	position:relative;
	top:100px;
	margin-top:0px;
	width:1400px;
	height: 60px;
	background:rgba(0,0,0,0.5);
}

.biaoti ul {
	padding: 0px;
	position: absolute;
	
}

.biaoti a {
	color: #FFF;
	width: 350px;
	height:60px;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 55px;
	font-family: Microsoft Yahei;
	font-weight: 2px;
	transition:0.3s;
}
.biaoti ul li {
	list-style: none;
	float: left;
}
.biaoti ul li a:hover{
	color:rgba(243,194,88,1);
	border-bottom:1px solid rgba(243,194,88,1);
	background:rgba(0,0,0,0.9);
	font-size:20px;
}
.biaoti ul:hover{
	display: block;
}
.biaoti ul li ul{
	background:rgba(0,0,0,0);
	position:absolute;
	display: none;
	
}
.biaoti ul li ul li{
	float: none;
	background:rgba(0,0,0,0.5);
}
.biaoti ul li ul li a{
	font-size:13px;
	font-weight: 0px;
	transition:0.3s;
}
.biaoti ul li:hover ul{
	display: block;
}
.mokuai1 {
	margin: auto;
	width: 1400px;
	height: 800px;
	background: rgba(0, 0, 0, 0.6);
}

.mokuai2 {
	margin: auto;
	width: 1400px;
	height: 800px;
	background: rgb(0, 0, 0, 0.6);
}

.mokuai3 {
	margin: auto;
	width: 1400px;
	height: 800px;
	background: rgba(0, 0, 0, 0.6);
}

.daohang_1 {
	width: 70px;
	height: 70px;
	position: fixed;
	border-radius:50%;
	right: 0px;
	bottom: 80px;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.1s;
}
.daohang_1:hover {
	background: rgba(0,0,0,0.8);
	bottom:82px;
	border-bottom:2px solid rgba(243,194,88,1);
}
.daohang_1 i:hover{
	color:rgba(243,194,88,1);
}

.daohang_2 {
	width: 150px;
	height: 50px;
	position: fixed;
	border-radius: 25px 0 0 25px;
	right: -100px;
	bottom: 160px;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}

.daohang_2:hover {
	right: 0px;
	background: rgba(240,214,225,0.9);
}

.daohang_3 {
	width: 150px;
	height: 50px;
	position: fixed;
	border-radius: 25px 0 0 25px;
	right: -100px;
	bottom: 220px;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}

.daohang_3:hover {
	right: 0px;
	background: rgba(240,214,225,0.9);
}

.daohang_4 {
	width: 150px;
	height: 50px;
	position: fixed;
	border-radius: 25px 0 0 25px;
	right: -100px;
	bottom: 280px;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}
i {
	display: block;
	position:absolute;
	left:12px;
	top:8px;
	color:rgba(0,0,0,0.7);
}
b {
	display: block;
	position: absolute;
	left:50px;
	top:20px;
}
h3 {
	display:block;
	position:absolute;
	left:80px;
}

.daohang_4:hover {
	right: 0px;
	background: rgba(240,214,225,0.9);
}

.mid1{
	width: 100%;
	height:50%;
	float:left;
	background:rgba(0,0,0,0.2);
	border-bottom:1px dashed rgb(255,255,255);
	border-bottom:double 1px dashed rgb(255,255,255);
	border-width:5px;
}
.mid1 h1{
	display:block;
	position:absolute;
	left:100px;
	font-size: 50px;
	color: #FFFFFF;
}
.body1{
	width:800px;
	height: 300px;
	position:absolute;
	top:250px;
	left:100px;
	background:rgba(0,0,0,0);
}
.body1 p{
	color: #FFFFFF;
	font-size: 40px;
}
.body2{
	width:800px;
	height: 300px;
	position:absolute;
	top:650px;
	left:100px;
	background:rgba(0,0,0,0);
}
.body2 p{
	color: #FFFFFF;
	font-size: 40px;
}
.mid2 h1{
	display:block;
	position:relative;
	left:50px;
	font-size: 50px;
	color: #FFFFFF;
}
.mid2{
	width: 100%;
	height: 50%;
	float: left;
	background:rgba(0,0,0,0.2);
}